NODE_ENV=production
PORT=4101

POSTGRES_HOST=z-meng-postgres
POSTGRES_PORT=5432
POSTGRES_DB=z_meng
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

DATABASE_URL=postgres://postgres:postgres@z-meng-postgres:5432/z_meng
